$black-0d: #0d0d0d;
$black-13: #131313;
$black-opacity-20: rgba(0, 0, 0, 0.2);
$black-opacity-50: rgba(0, 0, 0, 0.5);
$black-opacity-5: rgba(0, 0, 0, 0.05);
$dark-blue: #0f0d2b;
$yellow: #ffc000;
$grey-fa: #fafafa;
$grey-e5: #e5e5e5;
