@use "../main.scss";
@use "../abstracts/variables" as var;
@import "../abstracts/mixins";

#oplata {
    padding-top: 150px;
    padding-bottom: 20px;
}

.oplata__title {
    h3 {
        margin-bottom: 80px;
        font-weight: 700;
        font-size: 34px;
        line-height: 140%;
        text-align: center;
    }
}

.oplata {
    display: flex;
    gap: 100px;
    & > div {
        width: 50%;
    }
    &__left {
        &__info {
            padding: 16px;
            margin-bottom: 60px;
            background-color: var.$yellow;
            &__top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 25px;
                p {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 140%;
                }
            }
            &__bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 120px;
                p {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 140%;
                }
            }
        }
        &__option {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 100px;
            img {
                cursor: pointer;
            }
        }
    }
    &__right {
        input {
            display: block;
            width: 94%;
            padding: 18px 16px;
            margin-bottom: 24px;
            outline: none;
            border: none;
            background-color: var.$grey-f2;
        }
        input::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
        }
        button {
            width: 100%;
            @include button(16px, 14px, var.$black-0d, 14px, var.$yellow, 0);
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
        }
    }
}

#order {
    padding-top: 50px;
    padding-bottom: 50px;
}

.order {
    h3 {
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 34px;
        line-height: 140%;
        text-align: center;
    }
    &__card {
        margin-bottom: 24px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        column-gap: 32px;
        background-color: var.$white-fff;
        border-radius: 22px;
        &__left {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__right {
            position: relative;
            padding: 25px 30px 32px 0;

            img {
                position: absolute;
                top: 25px;
                right: 5%;
                cursor: pointer;
            }
            h2 {
                margin-bottom: 70px;
                font-weight: 700;
                font-size: 24px;
                line-height: 140%;
            }
            & > p {
                margin-bottom: 42px;
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
            }
            &__info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .info__left {
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                    }
                    span {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                .trash {
                    display: none;
                }
                .control_number {
                    display: flex;
                    align-items: center;
                    .info__right__item {
                        padding: 6px 43px;
                        background-color: var.$grey-f2;
                    }
                    button {
                        padding: 7.5px 14px;
                        cursor: pointer;
                        border: none;
                        color: var.$white-fff;
                        background-color: var.$yellow;
                    }
                }
            }
        }
    }
    &__price {
        display: none;
    }
}

// Shop Section

#shop {
    padding-top: 20px;
    padding-bottom: 64px;
}

.shop {
    h3 {
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 34px;
        line-height: 140%;
        text-align: center;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px;
        row-gap: 24px;
        align-items: center;
    }
    &__card {
        width: 100%;
        text-align: center;
        cursor: pointer;
        background-color: var.$black-opacity-5;
        border-radius: 16px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}




// Category Section
#category {
    padding-bottom: 80px;
}
.category {
    & > h3 {
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 34px;
        line-height: 140%;
        text-align: center;
    }
    &__odejda,&__kids,&__shoes,
    &__home {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        column-gap: 16px;
        row-gap: 16px;
        margin-bottom: 16px;
        img {
            width: 100%;
            cursor: pointer;
        }
    }
    &__main__title {
        display: flex;
        align-items: center;
        justify-content: center;
        // max-width: 216px;
        padding: 0 18px;
        height: 100%;
        border-radius: 12px;
        background-color: var.$yellow;
        cursor: pointer;
        h3 {
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            text-align: center;
        }
    }
}



// Responsive

@media (max-width: 1200px) {
    .category {
        &__odejda,&__kids,&__shoes,
        &__home {
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
        }
    }
}

@media (max-width: 900px) {
    // oplata Section
    .oplata {
        flex-direction: column;
        align-items: center;
        & > div {
            width: 100%;
        }
    }

    // Order
    .order {
        &__card {
            padding: 20px;
            &__left {
                img {
                    width: 100%;
                    height:100%;
                }
            }
            &__right {
                padding: 0;
                & > p {
                    display: none;
                }
                img {
                    display: none;
                }
                h2 {
                    margin-bottom: 16px;
                }
                &__info{
                    & > div {
                        width: 100%;
                    }
                    flex-direction: column;
                    .info__left {
                        justify-content: space-between;
                        margin-bottom: 8px;
                    }
                    .trash {
                        display: block;
                        i {
                            font-size: 18px;
                        }
                    }
                    .info__right {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }

            }
        }
    }

    // Shop Section
    .shop {
        &__cards {
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-content: center;
        }
    }

    // Category
    .category {
        &__odejda,&__kids,&__shoes,
        &__home {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}


@media (max-width: 600px) {
    .order {
        &__card {
            &__right {
                h2 {
                    font-size: 14px;
                }
            }
        }
        &__price {
            flex-direction: column;
            gap: 16px;
            & > div {
                width: 100%;
            }
        }
    }

    // Shop Section
    .shop {
        &__cards {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-content: center;
        }
    }

    // Category
    .category {
        &__odejda,&__kids,&__shoes,
        &__home {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}


@media (max-width: 500px) {
    #oplata {
        padding-top: 130px;
    }
    .oplata__title {
        h3 {
            margin-bottom: 24px;
        }
    }
    .oplata {
        &__left {
            &__info {
                &__top {
                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                    }
                }
                &__bottom {
                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                    }
                }
            }
        }
    }
    .oplata__right input{
        width: 92%;
    }
    .oplata__left__option{
        gap: 20px;
    }

    #order{
        padding-bottom: 20px;
    }
    .order {
        &__card {
            column-gap: 10px;
            &__right {
                h2 {
                    margin-top: 10px;
                }
                &__info {
                    .info__left {
                        display: flex;
                        align-items: center;
                        gap: 40px;
                        p {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 140%;
                        }
                        span {
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                    .trash {
                        i {
                            font-size: 14px;
                        }
                    }
                    .control_number {
                        display: flex;
                        align-items: center;
                        .info__right__item {
                            padding: 4px 22px;
                        }
                        button {
                            padding: 5.6px 12px;
                            cursor: pointer;
                            border: none;
                            color: var.$white-fff;
                            background-color: var.$yellow;
                        }
                    }
                }
            }
        }
    }

    // Shop Section
    .shop {
        &__cards {
            grid-template-columns:1fr;
            align-items: center;
            justify-content: center;
        }
    }
    
    // Category
    #category {
        padding-bottom: 20px;
    }
    .category {
        &__odejda,&__kids,&__shoes,
        &__home {
            grid-template-columns: 1fr;
            margin-bottom: 40px;
        }
        &__main__title {
            height: 80px;
        }
    }
}