@use "../main.scss";
@use "../abstracts/variables" as var;
@import "../abstracts/mixins";

#home {
    padding-top: 120px;
    padding-bottom: 64px;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    gap: 100px;
    &__left {
        img {
            width: 80%;
            margin-bottom: 16px;
        }
        button {
            @include button(16px, 14px, var.$black-0d, 14px, var.$yellow, 8px);
            width: 80%;
        }
    }
    label {
        display: block;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
    input {
        padding: 10px 12px;
        display: block;
        width: 90%;
        margin-bottom: 16px;
        outline: none;
        border: 1px solid #DBDEE7;
        border-radius: 6px;
        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .passwordd {
        width: 100%;
        position: relative;
        i {
            position: absolute;
            top: 55%;
            right: 5%;
            cursor: pointer;
        }
    }
    p {
        margin-left: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: var.$yellow;
        cursor: pointer;
    }
}

@media (max-width: 1000px) {
    .home {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 30px;
    }
}

@media (max-width: 600px) {
    #home {
        padding-bottom: 20px;
    }
    .home {
        grid-template-columns: 1fr;
        &__left {
            img,button {
                width: 100%;
            }
        }
        input {
            width: 93%;
        }
    }
}